@import "../../../../style/App.scss";

.headerMobile {
    display: none;
    color: var(--white);

    &__burger {
        position: fixed;
        top: 55px;
        left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        color: var(--white);
        z-index: 200;
        
        @include mobile() {
            left: 20px;
            top: 40px;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
    }

    &-blocks {
        display: flex;
        column-gap: 30px;
    }

    @include laptop() {
        display: flex;
        justify-content: space-between;
    }

    @include mobile() {
        padding-left: 40px;
    }
}