@import "../../../style/App.scss";

.profilUser {
    &__block {
        .profil {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            background-color: var(--white);
            border-radius: 50%;

            &__button {
                padding: 5px;
            }

            &__image {
                @media (max-width: 1280px) {
                    & {
                        width: 30px;
                        height: 30px;
                    }
                }

                @media (max-width: 837px) {
                    & {
                        width: 23px;
                        height: 23px;
                    }
                }
            }

            @include laptop() {
                height: 55px;
                width: 55px;
            }

            @include tabs() {
                width: 40px;
                height: 40px;
            }
        }
    }
}