@import "../../../../style/App.scss";

.mobileAsideBlock {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--dark);
    color: var(--white);
    transform: translateX(-100%);
    transition: 0.4s;
    z-index: 100;

    &__block {

        .mobileAside {

            &-navigation {
                @include flex-vertical();
                position: relative;
                row-gap: 50px;
                padding: 145px 23px 40px 50px;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: calc((100% / 2) - (180px / 2));
                    width: 180px;
                    height: 1px;
                    background-color: var(--light-gray);
                }
    
                &__button {
                    @include flex-center-vertical();
                    column-gap: 10px;
                    font-size: var(--font-text);
                    transition: 0.4s;

                    @include hover() {
                        color: var(--light-gray);
                    }
                }
    
                .active {
                    position: relative;
                    color: var(--light-gray);
    
                    &::before {
                        content: "";
                        position: absolute;
                        top: calc((100% / 2) - (100% / 2));
                        left: -10px;
                        width: 2px;
                        height: 100%;
                        background-color: var(--light-gray);
                    }
                }

                @include mobile() {
                    row-gap: 40px;
                    padding: 100px 23px 40px 40px;
                }
            }

            &-playlist {
                @include flex-vertical();
                row-gap: 40px;
                padding: 40px 30px 0 40px;

                &__new {
                    @include flex-center-vertical();
                    column-gap: 10px;
                    font-size: 18px;
                    color: var(--white);
                    transition: 0.4s;

                    @include hover() {
                        color: var(--light-gray);
                    }
                }

                .playlist-block {
                    @include flex-vertical();
                    row-gap: 25px;
                    height: 30vh;
                    flex-shrink: 0;
                    overflow-y: auto;

                    &::-webkit-scrollbar {
                        background-color: var(--gray);
                        width: 3px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: var(--white);
                    }

                    &__playlists {
                        width: 157px;
                        height: 24px;
                        transition: 0.4s;

                        @include hover() {
                            color: var(--light-gray);
                        }
                    }

                    &__text {
                        width: 157px;
                        height: 24px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

.active {
    transform: translateX(0);
}