.asideBlock {
    min-width: 200px;
    max-width: 230px;
    height: 100vh;
    background-color: var(--dark);
    color: var(--white);

    &__block {

        .aside {

            &-navigation {
                @include flex-vertical();
                position: relative;
                row-gap: 50px;
                padding: 60px 23px 50px 40px;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: calc((100% / 2) - (180px / 2));
                    width: 180px;
                    height: 1px;
                    background-color: var(--light-gray);
                }

                &__title {
                    font-size: var(--font-title);
                    font-weight: 600;
                    user-select: none;
                }
    
                &__button {
                    @include flex-center-vertical();
                    column-gap: 10px;
                    font-size: var(--font-text);
                    transition: 0.4s;
    
                    &:is(:hover, :focus) {
                        color: var(--light-gray);
                    }
                }
    
                .active {
                    position: relative;
                    color: var(--light-gray);
    
                    &::before {
                        content: "";
                        position: absolute;
                        top: calc((100% / 2) - (100% / 2));
                        left: -10px;
                        width: 2px;
                        height: 100%;
                        background-color: var(--light-gray);
                    }
                }
            }

            &-playlist {
                @include flex-vertical();
                row-gap: 50px;
                padding: 50px 0 0 40px;

                &__new {
                    @include flex-center-vertical();
                    column-gap: 10px;
                    font-size: 18px;
                    color: var(--white);
                    transition: 0.4s;

                    &:is(:hover, :focus) {
                        color: var(--light-gray);
                    }
                }

                .playlist-block {
                    @include flex-vertical();
                    row-gap: clamp(35px, 0.938rem + 1.563vw, 40px);
                    height: clamp(27vh, 8.063rem + -5.313vw, 30vh);
                    flex-shrink: 0;
                    overflow-y: auto;

                    &::-webkit-scrollbar {
                        background-color: var(--white);
                        width: 3px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: var(--gray);
                    }

                    &__playlists {
                        transition: 0.4s;

                        &:is(:hover, :focus) {
                            color: var(--light-gray);
                        }
                    }
                }
            }
        }
    }
}