@import "../../../style/App.scss";

.asideBlock {
    min-width: 200px;
    max-width: 260px;
    width: 12%;
    height: 100vh;
    background-color: var(--dark);
    color: var(--white);

    &__block {

        .aside {

            &-navigation {
                @include flex-vertical();
                position: relative;
                row-gap: 50px;
                padding: 60px 23px 50px 40px;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: calc((100% / 2) - (180px / 2));
                    width: 180px;
                    height: 1px;
                    background-color: var(--light-gray);
                }

                &__title {
                    @include fluid-text(30, 34);
                    font-weight: 600;
                    user-select: none;
                }
    
                &__button {
                    @include flex-center-vertical();
                    column-gap: 10px;
                    font-size: var(--font-text);
                    transition: 0.4s;
    
                    &:is(:hover, :focus) {
                        color: var(--light-gray);
                    }
                }
    
                .active {
                    position: relative;
                    color: var(--light-gray);
    
                    &::before {
                        content: "";
                        position: absolute;
                        top: calc((100% / 2) - (100% / 2));
                        left: -10px;
                        width: 2px;
                        height: 100%;
                        background-color: var(--light-gray);
                    }
                }

                @include desctop() {
                    row-gap: 40px;
                    padding: 45px 23px 40px 40px;
                }
            }

            &-playlist {
                @include flex-vertical();
                row-gap: 50px;
                padding: 50px 0 0 40px;

                &__new {
                    @include flex-center-vertical();
                    column-gap: 10px;
                    font-size: 18px;
                    color: var(--white);
                    transition: 0.4s;

                    &:is(:hover, :focus) {
                        color: var(--light-gray);
                    }
                }

                .playlist-block {
                    @include flex-vertical();
                    row-gap: 40px;
                    height: clamp(27vh, 8.063rem + -5.313vw, 30vh);
                    flex-shrink: 0;
                    overflow-y: auto;

                    &::-webkit-scrollbar {
                        background-color: var(--white);
                        width: 3px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: var(--gray);
                    }

                    &__playlists {
                        width: 157px;
                        height: 24px;
                        transition: 0.4s;

                        &:is(:hover, :focus) {
                            color: var(--light-gray);
                        }
                    }

                    &__text {
                        width: 157px;
                        height: 24px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    @include desctop() {
                        row-gap: 30px;
                        font-size: 14px;
                    }
                }

                @include desctop() {
                    row-gap: 30px;
                    padding: 40px 0 0 40px;
                }
            }
        }
    }

    @include laptop() {
        display: none;
    }
}