@import "../../../../style/App.scss";

.popup {
    position: fixed;
    padding: 70px 10px 30px 50px;
    top: 0;
    right: 0;
    width: min(100%, 415px);
    height: 550px;
    background-color: var(--black);
    color: var(--light-gray);
    transform: translateX(100%);
    transition: 0.5s;
    z-index: 300;
    
    &__close {
        position: absolute;
        top: 20px;
        right: 25px;
        color: var(--light-gray);
        transition: 0.4s;

        @include hover() {
            color: var(--white);
        }
    }

    &-block {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        font-size: 18px;

        &__button {
            transition: 0.4s;

            @include hover() {
                color: var(--white);
            }
        }
    }
}

.active {
    transform: translateX(0);
}