@import "../../../../style/App.scss";

.addMusic {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    opacity: 0;
    background-color: rgb(0, 0, 0, 0.4);
    transition: 0.4s;
    user-select: none;
    pointer-events: none;
    z-index: 400;

    &__block {
        .add {
            position: relative;
            padding: 115px 40px 0;
            height: 400px;
            width: 42vw;
            min-width: 600px;
            background-color: var(--dark);
            color: var(--black);
            scale: 0;
            transition: 0.4s;

            &__close {
                position: absolute;
                top: 30px;
                right: 30px;
                color: var(--white);
                transition: 0.4s;

                @include hover() {
                    color: var(--light-gray);
                }
            }

            &-form {
                display: flex;
                justify-content: space-between;
                
                @include tabs() {
                    flex-direction: column;
                    align-items: center;
                    row-gap: 40px;
                }
            }

            &-textblock {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                width: 55%;
                min-width: 250px;

                &__track {
                    padding: 7px 10px;
                    border-radius: 5px;
                    font-size: 14px;
                    transition: 0.4s;

                    &:focus {
                        outline: 1px solid var(--light-gray);
                    }

                    &::placeholder {
                        color: inherit;
                    }
                }

                &__author {
                    padding: 7px 10px;
                    border-radius: 5px;
                    font-size: 14px;
                    transition: 0.4s;

                    &:focus {
                        outline: 1px solid var(--light-gray);
                    }

                    &::placeholder {
                        color: inherit;
                    }
                }
                
                &__enter {
                    margin-top: 35px;
                    border-radius: 7px;
                    padding: 5px 28px;
                    width: min(130px, 100%);
                    transition: 0.4s;
                    cursor: pointer;

                    @include hover() {
                        background-color: var(--light-gray);
                        border-radius: 10px;
                    }

                    @include tabs() {
                        margin-top: 15px;
                        width: 80%;
                        align-self: center;
                    }
                }

                @include tabs() {
                    width: 80%;
                }

                @include mobile() {
                    width: 100%;
                }
            }

            &-downloadMusic {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                width: 32%;
                min-width: 180px;
                max-width: 230px;
                background-color: var(--white);
                cursor: pointer;
                transition: 0.4s;

                @include hover() {
                    background-color: var(--light-gray);
                    border-radius: 10px;
                }

                .downloadMusic-block {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    row-gap: 35px;
                    cursor: inherit;

                    &__text {
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: uppercase;

                        @include laptop() {
                            font-size: 10px;
                        }
                    }
                }

                &__music {
                    position: fixed;
                    width: 0;
                    height: 0;
                    visibility: hidden;
                }

                @include tabs() {
                    height: 150px;
                    width: 150px;
                }
            }

            @include tabs() {
                padding: 80px 30px 0;
                height: 480px;
                min-width: 90vw;
            }
        }
    }
}

.active {
    opacity: 1;
    pointer-events: painted;
    user-select:auto;
}

.active .add {
    scale: 1;
}
