body {
    background-image: var(--linear-gradient);
    font-family: "Nunito Sans", serif;
    max-height: 100vh;

    &::-webkit-scrollbar {
        width: 0;
    }
}

#root {
    max-height: 100vh;
    width: 100vw;
}

input, textarea {
    resize: none;
    border: 0;

    &:focus {
        outline: 0;
    }
}

a {@include re-style-link();}

button {@include re-style-button();}

p {
    font-weight: 200;
}

img {
    user-select: none;
}