$desctop: 1440px;
$desctop-mob: 1441px;
$laptop: 1280px;
$laptop-mob: 1281px;
$tabs: 834px;
$tabs-mob: 835px;
$mobile: 560px;
$mobile-mob: 561px;

@mixin desctop() {
    @media ($desctop) {
        @content;
    }
}