@import "../../../style/App.scss";

.musicBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
    background-color: var(--dark);

    &__progress {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        margin: 0;
    }

    &__block {
        padding: 17px 80px;

        .bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--white);
            user-select: none;

            &-info {
                @include flex-vertical();
                row-gap: 10px;

                &__name {
                    height: 27px;
                    font-size: 18px;
                    font-weight: 300;
                    color: var(--white);

                    @include laptop() {
                        font-size: 16px;
                    }

                    @include mobile() {
                        width: 150px !important;
                        font-size: 14px;
                    }
                }

                @include mobile() {
                    font-size: 14px;
                }
            }

            &-nav {
                display: flex;
                column-gap: 70px;
                color: var(--light-gray);

                &__randomMusic {
                    @include flex-center-vertical();
                    color: inherit;
                    transition: 0.4s;

                    @include hover() {
                        color: var(--white);
                    }

                    @include laptop() {
                        display: none;
                    }
                }

                .navigation {
                    display: flex;
                    align-items: center;
                    column-gap: 50px;
                    color: var(--light-gray);

                    &__play {
                        @include mobile() {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    &__button {
                        @include flex-center-vertical();
                        color: inherit;
                        transition: 0.4s;

                        @include hover() {
                            color: var(--white);
                        }
                    }

                    @include mobile() {
                        column-gap: 35px
                    }
                }

                &__repeatMusic {
                    @include flex-center-vertical();
                    color: inherit;
                    transition: 0.4s;

                    @include hover() {
                        color: var(--white);
                    }
                    
                    @include laptop() {
                        display: none;
                    }
                }
            }

            &-sound {
                display: flex;
                column-gap: 70px;
                color: var(--light-gray);

                &__addPlaylist {
                    color: inherit;
                    transition: 0.4s;

                    @include hover() {
                        color: var(--white);
                    }
                }

                .sound {
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                    color: var(--light-gray);
                    
                    &__image {
                        @include flex-center-vertical();
                        color: inherit;
                        transition: 0.4s;

                        @include hover() {
                            color: var(--white);
                        }
                    }

                    &__progress {
                        height: 6px;
                    }
                }

                @include laptop() {
                    display: none;
                }
            }
        }

        @include tabs() {
            padding-inline: 40px;
        }

        @include mobile() {
            padding-inline: 20px;
        }
    }
}