@import "../../../style/App.scss";

.musicBlock {
    width: 100%;
    height: 100%;

    &__block {
        height: 100%;

        .music {
            display: flex;
            flex-direction: column;
            row-gap: 25px;
            padding-right: 40px;
            max-width: 100%;
            height: 100%;
            overflow-y: auto;

            &::-webkit-scrollbar {
                background-color: var(--gray);
                width: 3px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--white);
            }

            &-block {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 48px;
                color: var(--white);

                .block-info {
                    display: flex;
                    align-items: center;
                    column-gap: 15px;

                    &__playPause {
                        color: inherit;
                        width: 25px;
                        transition: 0.4s;

                        @include hover() {
                            color: var(--light-gray)
                        }

                        @include tabs() {
                            display: none;
                        }
                    }

                    &__image {
                        @include tabs() {
                            display: none;
                        }
                    }

                    &__playPause-tabs {
                        color: var(--white);
                        display: none;
                        transition: 0.4s;

                        @include hover() {
                            color: var(--light-gray);
                        }

                        @include tabs() {
                            display: block;
                        }
                    }

                    .block-text {
                        display: flex;
                        flex-direction: column;
                        font-size: 18px;

                        &__author {
                            font-size: 14px;
                        }

                        @include tabs() {
                            font-size: 14px;
                        }
                    }
                }

                .block-button {
                    display: flex;
                    align-items: center;
                    column-gap: 20px;

                    .buttons {
                        display: flex;
                        column-gap: 40px;

                        @include tabs() {
                            display: none;
                        }
                    }

                    &__button {
                        color: inherit;
                        transition: 0.4s;

                        @include hover() {
                            color: var(--light-gray);
                        }
                    }

                    .block-time {
                        @include mobile() {
                            display: none;
                        }
                    }

                    &__3points {
                        display: none;
                        color: var(--white);

                        @include tabs() {
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }

            @include mobile() {
                padding-right: 10px;
            }
        }
    }
}