@import "../../../style/App.scss";

.musicBlock {
    max-width: 1250px;
    width: 84%;
    min-width: 390px;
    height: 100%;

    &__block {
        padding-right: 20px;

        .music {
            display: flex;
            flex-direction: column;
            row-gap: 25px;
            flex-shrink: 0;
            width: 1250px;
            height: 550px;
            overflow-y: auto;

            &::-webkit-scrollbar {
                background-color: var(--white);
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--gray);
            }
        }
    }
}